// Fonts
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

// Variables
@import 'variables';

//Materialize
@import '~materialize-css/sass/materialize';

// TABS COLORS
.tabs {
  .tab {
    a {
      color: green;
      &.active {color: green; background-color: #c8e6c9 ;}
      &:hover {color: green; background-color: #c8e6c9 ;}
      &:focus {
        background-color: #EFE9E9;
        &.active{background-color:#c8e6c9 ;}
      }
    }
  }
  .indicator {background-color: black;}
}

//Snotify
@import '~vue-snotify/styles/material';

.content-begin{ padding-top: 1em;}

.logo-begin{ padding: 6em 1em 0 0;}

.form-register{ border-left: 1px solid #66bb6a;}

.sidenav{  width: 250px}

.top-menu, .content{ padding-left: 250px;}

#logoMobile{ display: none;}

#logoDesk{  margin-left: 1em;}

.container2{ width: 85%;}

.container3{ width: 95%;}

@media only screen and (max-width : 992px) {
  
  .logo-begin{ padding: 0; }
  
  .form-register{ border-left: 0; }

  .top-menu, .content { padding-left: 0; }

  #logoDesk{ display: none; }

  #logoMobile{ display: inline; }
}